@media screen and (min-width: 768px)and (max-width: 992px){
    .cardone{
        height: 300px;
        margin: 0 auto;
        .one-left{
          height: 300px;
          .card-left{
            width: 85%!important;
            height: 83%!important;
            background-color: #161d24;
            border-radius: 10px;
            margin: 6% 7% auto;
            .cardseed{
              margin: 7% 4% auto!important;
              display: flex;
              justify-content: space-between;
              height: 50px;
              line-height: 40px;
              border-bottom: 2px solid #fff;
              .seed1{
                font-family: PingFang-SC-Medium;
                font-size: 16px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
              .seed2{
                font-family: PingFang-SC-Medium;
                font-size:16px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
            }
            .carddate{
               height: 60px;
              line-height: 15px;
              margin: 3% 6% auto!important;
              text-align: left;
              padding-left: 4%!important;
              .date1{
                font-family: PingFang-SC-Medium;
                font-size: 15px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
              .date2{
                font-family: PingFang-SC-Medium;
                font-size: 15px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
            }
            .cardfoot{
               height: 70px;
              margin: 7% 6% auto!important;
              display: flex;
              justify-content: space-between;
              .cardplace{
                display: grid;
                text-align: left;
                margin-top: 7px;
                .place1{
                  color: #e6e6e6;
                  font-family: PingFang-SC-Medium;
                font-size: 15px!important;
                font-weight: normal;
                font-stretch: normal;
                padding-left: 4%;
                }
                .place2{
                  color: #ffffff;
                  font-family: PingFang-SC-Medium;
                font-size: 18px!important;
                font-weight: normal;
                font-stretch: normal;
                padding-left: 4%;
                }
              }
              .cardstatus{
                display: grid;
                text-align: center;
                .status1{
                  color: #e6e6e6;
                  font-family: PingFang-SC-Medium;
                font-size: 15px!important;
                font-weight: normal;
                font-stretch: normal;
                }
                .status2{
                  color: #ffffff;
                  font-family: PingFang-SC-Medium;
                font-size: 18px!important;
                font-weight: normal;
                font-stretch: normal;
                }
              }
            }
          }
        }
        .box4{
            width: 1px;
            height: 50%;
            background: #e8e8e8;
            float: left;
            position: relative;
            top: 25%!important;
            border-radius: 5px;
            left: 0%!important;
        }
        .one-right{
          height: 300px;
          display: flex;
          .chart-bottom{
            display: inline-block;
            .chart-left{
              height: 40px;
              margin-top: 85px;
              .box{
                width: 15px!important;
                height: 5px;
                background: #56e79e;
                display: inline-block;
              }
              .box2{
                width: 15px!important;
                height: 5px;
                background: #161D24;
                display: inline-block;
              }
              .chart-span{
                    font-family: PingFang-SC-Light;
                    font-size: 12px!important;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 33px;
                    letter-spacing: 0px;
                    color: #262626;
              }
            }
            .chart-top{
                  height: 85px;
                  display: inline-flex;
                  width: 100%;
                  line-height:15px;
                  .box-top{
                    margin-top: 20px;
                    span{
                      font-family: PingFang-SC-Light;
                      font-size: 12px!important;
                      font-weight: normal;
                      font-stretch: normal;
                      letter-spacing: 0px;
                      color: #b3b3b3;
                      margin-left: 17px!important;
                    }
                    p{
                      font-family: PingFang-SC-Regular;
                      font-size: 24px!important;
                      font-weight: normal;
                      font-stretch: normal;
                      letter-spacing: 0px;
                      color: #272727;
                      .ci{
                        font-family: PingFang-SC-Medium;
                        font-size: 12px!important;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: 0px;
                        color: #8c8c8c;
                      }
                    }
                  }
                  .box3{
                      width:2px;
                      height: 50%;
                      background: #e8e8e8;
                      float: right;
                      position: relative;
                      top:35%;
                      border-radius: 5px;
                      padding-left: 1px;
                  }
               }
          }
        }
      }
      .operate{
          height: 30px;
          display: flex;
          line-height: 30px;
          .oper{
                padding-left: 1px!important;
                font-family: PingFang-SC-Regular;
                font-size: 12px!important;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                color: #262626;
          }
          .oper-main{
              display: flex;
              .oper-left{
                background: #fafafa;
                border-radius: 4px;
                color: #595959;
                font-size: 14px!important;
                .link{
                      text-decoration: none;
                      border-radius: 4px;
                      font-size: 14px!important;
                      background: #fafafa;
                      color: #595959;
                      padding: 5px 14px!important;
                  }
                  .router-link-active{
                      background: #facc14;
                      font-size: 14px!important;
                      border-radius: 4px;
                      color: #595959;
                  }
              }
          }
      }
}
@media screen and (min-width: 992px)and (max-width: 1280px){
    .cardone{
        height: 300px;
        margin: 0 auto;
        .one-left{
          height: 300px;
          .card-left{
            width: 85%!important;
            height: 83%!important;
            background-color: #161d24;
            border-radius: 10px;
            margin: 6% 7% auto;
            .cardseed{
              margin: 7% 4% auto!important;
              display: flex;
              justify-content: space-between;
              height: 50px;
              line-height: 40px;
              border-bottom: 2px solid #fff;
              .seed1{
                font-family: PingFang-SC-Medium;
                font-size: 16px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
              .seed2{
                font-family: PingFang-SC-Medium;
                font-size:16px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
            }
            .carddate{
               height: 60px;
              line-height: 15px;
              margin: 3% 6% auto!important;
              text-align: left;
              padding-left: 4%!important;
              .date1{
                font-family: PingFang-SC-Medium;
                font-size: 15px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
              .date2{
                font-family: PingFang-SC-Medium;
                font-size: 15px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
            }
            .cardfoot{
               height: 70px;
              margin: 7% 6% auto!important;
              display: flex;
              justify-content: space-between;
              .cardplace{
                display: grid;
                text-align: left;
                margin-top: 7px;
                .place1{
                  color: #e6e6e6;
                  font-family: PingFang-SC-Medium;
                font-size: 15px!important;
                font-weight: normal;
                font-stretch: normal;
                padding-left: 4%;
                }
                .place2{
                  color: #ffffff;
                  font-family: PingFang-SC-Medium;
                font-size: 18px!important;
                font-weight: normal;
                font-stretch: normal;
                padding-left: 4%;
                }
              }
              .cardstatus{
                display: grid;
                text-align: center;
                .status1{
                  color: #e6e6e6;
                  font-family: PingFang-SC-Medium;
                font-size: 15px!important;
                font-weight: normal;
                font-stretch: normal;
                }
                .status2{
                  color: #ffffff;
                  font-family: PingFang-SC-Medium;
                font-size: 18px!important;
                font-weight: normal;
                font-stretch: normal;
                }
              }
            }
          }
        }
        .box4{
            width: 1px;
            height: 50%;
            background: #e8e8e8;
            float: left;
            position: relative;
            top: 25%!important;
            border-radius: 5px;
            left: 0%!important;
        }
        .one-right{
          height: 300px;
          display: flex;
          .chart-bottom{
            display: inline-block;
            .chart-left{
              height: 40px;
              margin-top: 85px;
              .box{
                width: 15px!important;
                height: 5px;
                background: #56e79e;
                display: inline-block;
              }
              .box2{
                width: 15px!important;
                height: 5px;
                background: #161D24;
                display: inline-block;
              }
              .chart-span{
                    font-family: PingFang-SC-Light;
                    font-size: 12px!important;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 33px;
                    letter-spacing: 0px;
                    color: #262626;
              }
            }
            .chart-top{
                  height: 85px;
                  display: inline-flex;
                  width: 100%;
                  line-height:15px;
                  .box-top{
                    margin-top: 20px;
                    span{
                      font-family: PingFang-SC-Light;
                      font-size: 12px!important;
                      font-weight: normal;
                      font-stretch: normal;
                      letter-spacing: 0px;
                      color: #b3b3b3;
                      margin-left: 17px!important;
                    }
                    p{
                      font-family: PingFang-SC-Regular;
                      font-size: 24px!important;
                      font-weight: normal;
                      font-stretch: normal;
                      letter-spacing: 0px;
                      color: #272727;
                      .ci{
                        font-family: PingFang-SC-Medium;
                        font-size: 12px!important;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: 0px;
                        color: #8c8c8c;
                      }
                    }
                  }
                  .box3{
                      width:2px;
                      height: 50%;
                      background: #e8e8e8;
                      float: right;
                      position: relative;
                      top:35%;
                      border-radius: 5px;
                      padding-left: 1px;
                  }
               }
          }
        }
      }
      .operate{
          height: 30px;
          display: flex;
          line-height: 30px;
          .oper{
                padding-left: 1px!important;
                font-family: PingFang-SC-Regular;
                font-size: 12px!important;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                color: #262626;
          }
          .oper-main{
              display: flex;
              .oper-left{
                background: #fafafa;
                border-radius: 4px;
                color: #595959;
                font-size: 14px!important;
                .link{
                      text-decoration: none;
                      border-radius: 4px;
                      font-size: 14px!important;
                      background: #fafafa;
                      color: #595959;
                      padding: 5px 14px!important;
                  }
                  .router-link-active{
                      background: #facc14;
                      font-size: 14px!important;
                      border-radius: 4px;
                      color: #595959;
                  }
              }
          }
      }
}
@media screen and (min-width: 1280px)and (max-width: 1440px){
    .cardone{
        height: 300px;
        margin: 0 auto;
        .one-left{
          height: 300px;
          .card-left{
            width: 85%!important;
            height: 83%!important;
            background-color: #161d24;
            border-radius: 10px;
            margin: 6% 7% auto;
            .cardseed{
              margin: 7% 4% auto!important;
              display: flex;
              justify-content: space-between;
              height: 50px;
              line-height: 40px;
              border-bottom: 2px solid #fff;
              .seed1{
                font-family: PingFang-SC-Medium;
                font-size: 18px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
              .seed2{
                font-family: PingFang-SC-Medium;
                font-size:18px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
            }
            .carddate{
               height: 60px;
              line-height: 15px;
              margin: 3% 6% auto!important;
              text-align: left;
              padding-left: 4%!important;
              .date1{
                font-family: PingFang-SC-Medium;
                font-size: 16px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
              .date2{
                font-family: PingFang-SC-Medium;
                font-size: 16px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
            }
            .cardfoot{
               height: 70px;
              margin: 7% 6% auto!important;
              display: flex;
              justify-content: space-between;
              .cardplace{
                display: grid;
                text-align: left;
                margin-top: 7px;
                .place1{
                  color: #e6e6e6;
                  font-family: PingFang-SC-Medium;
                font-size: 16px!important;
                font-weight: normal;
                font-stretch: normal;
                padding-left: 4%;
                }
                .place2{
                  color: #ffffff;
                  font-family: PingFang-SC-Medium;
                font-size: 18px!important;
                font-weight: normal;
                font-stretch: normal;
                padding-left: 4%;
                }
              }
              .cardstatus{
                display: grid;
                text-align: center;
                .status1{
                  color: #e6e6e6;
                  font-family: PingFang-SC-Medium;
                font-size: 16px!important;
                font-weight: normal;
                font-stretch: normal;
                }
                .status2{
                  color: #ffffff;
                  font-family: PingFang-SC-Medium;
                font-size: 18px!important;
                font-weight: normal;
                font-stretch: normal;
                }
              }
            }
          }
        }
        .box4{
            width: 1px;
            height: 50%;
            background: #e8e8e8;
            float: left;
            position: relative;
            top: 25%!important;
            border-radius: 5px;
            left: 0%!important;
        }
        .one-right{
          height: 300px;
          display: flex;
          .chart-bottom{
            display: inline-block;
            .chart-left{
              height: 40px;
              margin-top: 85px;
              .box{
                width: 25px!important;
                height: 5px;
                background: #56e79e;
                display: inline-block;
              }
              .box2{
                width: 25px!important;
                height: 5px;
                background: #161D24;
                display: inline-block;
              }
              .chart-span{
                    font-family: PingFang-SC-Light;
                    font-size: 14px!important;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 33px;
                    letter-spacing: 0px;
                    color: #262626;
              }
            }
            .chart-top{
                  height: 85px;
                  display: inline-flex;
                  width: 100%;
                  line-height:15px;
                  .box-top{
                    margin-top: 20px;
                    span{
                      font-family: PingFang-SC-Light;
                      font-size: 14px!important;
                      font-weight: normal;
                      font-stretch: normal;
                      letter-spacing: 0px;
                      color: #b3b3b3;
                      margin-left: 17px!important;
                    }
                    p{
                      font-family: PingFang-SC-Regular;
                      font-size: 26px!important;
                      font-weight: normal;
                      font-stretch: normal;
                      letter-spacing: 0px;
                      color: #272727;
                      .ci{
                        font-family: PingFang-SC-Medium;
                        font-size: 14px!important;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: 0px;
                        color: #8c8c8c;
                      }
                    }
                  }
                  .box3{
                      width:2px;
                      height: 50%;
                      background: #e8e8e8;
                      float: right;
                      position: relative;
                      top:35%;
                      border-radius: 5px;
                      padding-left: 1px;
                  }
               }
          }
        }
      }
      .operate{
          height: 30px;
          display: flex;
          line-height: 30px;
          .oper{
                padding-left: 20px!important;
                font-family: PingFang-SC-Regular;
                font-size: 14px!important;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                color: #262626;
          }
          .oper-main{
              display: flex;
              .oper-left{
                background: #fafafa;
                border-radius: 4px;
                color: #595959;
                font-size: 14px!important;
                .link{
                      text-decoration: none;
                      border-radius: 4px;
                      font-size: 14px!important;
                      background: #fafafa;
                      color: #595959;
                      padding: 5px 14px!important;
                  }
                  .router-link-active{
                      background: #facc14;
                      font-size: 14px!important;
                      border-radius: 4px;
                      color: #595959;
                  }
              }
          }
      }
}
@media screen and (min-width: 1440px)and (max-width: 1920px){
    .cardone{
        height: 300px;
        margin: 0 auto;
        .one-left{
          height: 300px;
          .card-left{
            width: 88%!important;
            height: 85%!important;
            background-color: #161d24;
            border-radius: 10px;
            margin: 6% 7% auto;
            .cardseed{
              margin: 4% 4% auto!important;
              display: flex;
              justify-content: space-between;
              height: 50px;
              line-height: 40px;
              border-bottom: 2px solid #fff;
              .seed1{
                font-family: PingFang-SC-Medium;
                font-size: 20px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
              .seed2{
                font-family: PingFang-SC-Medium;
                font-size:20px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
            }
            .carddate{
               height: 60px;
              line-height: 15px;
              margin: 2% 5% auto!important;
              text-align: left;
              padding-left: 4%!important;
              .date1{
                font-family: PingFang-SC-Medium;
                font-size: 18px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
              .date2{
                font-family: PingFang-SC-Medium;
                font-size: 18px!important;
                font-weight: normal;
                font-stretch: normal;
                color: #fff;
              }
            }
            .cardfoot{
               height: 70px;
              margin: 5% 6% auto!important;
              display: flex;
              justify-content: space-between;
              .cardplace{
                display: grid;
                text-align: left;
                margin-top: 7px;
                .place1{
                  color: #e6e6e6;
                  font-family: PingFang-SC-Medium;
                font-size: 18px!important;
                font-weight: normal;
                font-stretch: normal;
                padding-left: 4%;
                }
                .place2{
                  color: #ffffff;
                  font-family: PingFang-SC-Medium;
                font-size: 20px!important;
                font-weight: normal;
                font-stretch: normal;
                padding-left: 4%;
                }
              }
              .cardstatus{
                display: grid;
                text-align: center;
                .status1{
                  color: #e6e6e6;
                  font-family: PingFang-SC-Medium;
                font-size: 18px!important;
                font-weight: normal;
                font-stretch: normal;
                }
                .status2{
                  color: #ffffff;
                  font-family: PingFang-SC-Medium;
                font-size: 20px!important;
                font-weight: normal;
                font-stretch: normal;
                }
              }
            }
          }
        }
        .box4{
            width: 1px;
            height: 50%;
            background: #e8e8e8;
            float: left;
            position: relative;
            top: 25%!important;
            border-radius: 5px;
            left: 0%!important;
        }
        .one-right{
          height: 300px;
          display: flex;
          .chart-bottom{
            display: inline-block;
            .chart-left{
              height: 40px;
              margin-top: 85px;
              .box{
                width: 25px!important;
                height: 5px;
                background: #56e79e;
                display: inline-block;
              }
              .box2{
                width: 25px!important;
                height: 5px;
                background: #161D24;
                display: inline-block;
              }
              .chart-span{
                    font-family: PingFang-SC-Light;
                    font-size: 16px!important;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 33px;
                    letter-spacing: 0px;
                    color: #262626;
              }
            }
            .chart-top{
                  height: 85px;
                  display: inline-flex;
                  width: 100%;
                  line-height:15px;
                  .box-top{
                    margin-top: 20px;
                    span{
                      font-family: PingFang-SC-Light;
                      font-size: 16px!important;
                      font-weight: normal;
                      font-stretch: normal;
                      letter-spacing: 0px;
                      color: #b3b3b3;
                      margin-left: 17px!important;
                    }
                    p{
                      font-family: PingFang-SC-Regular;
                      font-size: 30px!important;
                      font-weight: normal;
                      font-stretch: normal;
                      letter-spacing: 0px;
                      color: #272727;
                      .ci{
                        font-family: PingFang-SC-Medium;
                        font-size: 16px!important;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: 0px;
                        color: #8c8c8c;
                      }
                    }
                  }
                  .box3{
                      width:2px;
                      height: 50%;
                      background: #e8e8e8;
                      float: right;
                      position: relative;
                      top:35%;
                      border-radius: 5px;
                      padding-left: 1px;
                  }
               }
          }
        }
      }
      .operate{
          height: 30px;
          display: flex;
          line-height: 30px;
          .oper{
                padding-left: 20px!important;
                font-family: PingFang-SC-Regular;
                font-size: 14px!important;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                color: #262626;
          }
          .oper-main{
              display: flex;
              .oper-left{
                background: #fafafa;
                border-radius: 4px;
                color: #595959;
                font-size: 16px!important;
                .link{
                      text-decoration: none;
                      border-radius: 4px;
                      font-size: 16px!important;
                      background: #fafafa;
                      color: #595959;
                      padding: 5px 14px!important;
                  }
                  .router-link-active{
                      background: #facc14;
                      font-size: 16px!important;
                      border-radius: 4px;
                      color: #595959;
                  }
              }
          }
      }
}