@media screen and (min-width: 768px)and (max-width: 992px){
    .practice-center {
        height: 60px;
        .purple {
        height: 60px;
        display: flex;
        justify-content: flex-start;
        .add {
            border: 1px solid #00bc71;
            width: 14%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 12px;
            margin-left: 20px;
            .p {
            color: #00bc71;
            font-family: PingFang-SC-Regular;
            font-size: 12px!important;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            line-height: 9px;
            }
            .add-p {
            color: #00bc71;
            font-family: PingFang-SC-Regular;
            font-size: 12px!important;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            line-height: 9px;
            }
        }
        }
    }
    .practice-table {
              margin-top:10px;
          }
}
@media screen and (min-width: 992px)and (max-width: 1280px){
    .practice-center {
        height: 60px;
        .purple {
        height: 60px;
        display: flex;
        justify-content: flex-start;
        .add {
            border: 1px solid #00bc71;
            width: 14%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 12px;
            margin-left: 20px;
            .p {
            color: #00bc71;
            font-family: PingFang-SC-Regular;
            font-size: 15px!important;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            line-height: 9px;
            }
            .add-p {
            color: #00bc71;
            font-family: PingFang-SC-Regular;
            font-size: 15px!important;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            line-height: 9px;
            }
        }
        }
    }
    .practice-table {
              margin-top:10px;
          }
}
@media screen and (min-width: 1280px)and (max-width: 1440px){
    .practice-center {
        height: 60px;
        .purple {
        height: 60px;
        display: flex;
        justify-content: flex-start;
        .add {
            border: 1px solid #00bc71;
            width: 12%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 12px;
            margin-left: 20px;
            .p {
            color: #00bc71;
            font-family: PingFang-SC-Regular;
            font-size: 14px!important;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            line-height: 9px;
            }
            .add-p {
            color: #00bc71;
            font-family: PingFang-SC-Regular;
            font-size: 14px!important;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            line-height: 9px;
            }
        }
        }
    }
    .practice-table {
              margin-top:10px;
          }
}
@media screen and (min-width: 1440px)and (max-width: 1920px){
    .practice-center {
        height: 60px;
        .purple {
        height: 60px;
        display: flex;
        justify-content: flex-start;
        .add {
            border: 1px solid #00bc71;
            width: 11%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 12px;
            margin-left: 20px;
            .p {
            color: #00bc71;
            font-family: PingFang-SC-Regular;
            font-size: 16px!important;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            line-height: 9px;
            }
            .add-p {
            color: #00bc71;
            font-family: PingFang-SC-Regular;
            font-size: 16px!important;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            line-height: 9px;
            }
        }
        }
    }
    .practice-table {
              margin-top:10px;
          }
}
@media screen and (min-width: 1920px)and (max-width: 2048px){
    .practice-center {
        height: 60px;
        .purple {
        height: 60px;
        display: flex;
        justify-content: flex-start;
        .add {
            border: 1px solid #00bc71;
            width: 11%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 12px;
            margin-left: 20px;
            .p {
            color: #00bc71;
            font-family: PingFang-SC-Regular;
            font-size: 16px!important;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            line-height: 9px;
            }
            .add-p {
            color: #00bc71;
            font-family: PingFang-SC-Regular;
            font-size: 16px!important;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            line-height: 9px;
            }
        }
        }
    }
    .practice-table {
              margin-top:10px;
          }
}
