@media screen and (min-width: 768px)and (max-width: 992px){
    .Totalachievement {
        width: 97%;
        height: 370px;
        margin: 10px auto;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        display: flex;
        .Total-head {
            height: 100%;
            #myChart11{
                position: absolute;
                left: 4%!important;
                top: 3%!important;
                width: 35%!important;
                height: 25%!important;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                padding: 0px;
                margin: 0px;
                border-width: 0px;
            }
            #myChart22{
                position: absolute;
                right:12%!important;
                top: 3%!important;
                width:40%!important;
                height: 25%!important;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                padding: 0px;
                margin: 0px;
                border-width: 0px;
            }
        }
    }
}
@media screen and (min-width: 992px)and (max-width: 1280px){
    .Totalachievement {
        width: 97%;
        height: 370px;
        margin: 10px auto;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        display: flex;
        .Total-head {
            height: 100%;
            #myChart11{
                position: absolute;
                left: 3%!important;
                top: 3%!important;
                width: 35%!important;
                height: 25%!important;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                padding: 0px;
                margin: 0px;
                border-width: 0px;
            }
            #myChart22{
                position: absolute;
                right:13%!important;
                top: 3%!important;
                width:35%!important;
                height: 40%!important;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                padding: 0px;
                margin: 0px;
                border-width: 0px;
            }
        }
    }
}
@media screen and (min-width: 1280px)and (max-width: 1440px){
    .Totalachievement {
        width: 97%;
        height: 370px;
        margin: 10px auto;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        display: flex;
        .Total-head {
            height: 100%;
            #myChart11{
                position: absolute;
                left: 3%!important;
                top: 3%!important;
                width: 35%!important;
                height: 25%!important;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                padding: 0px;
                margin: 0px;
                border-width: 0px;
            }
            #myChart22{
                position: absolute;
                right:12%!important;
                top: 3%!important;
                width:40%!important;
                height: 25%!important;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                padding: 0px;
                margin: 0px;
                border-width: 0px;
            }
        }
    }
}
@media screen and (min-width: 1440px)and (max-width: 1920px){
    .Totalachievement {
        width: 97%;
        height: 370px;
        margin: 10px auto;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        display: flex;
        .Total-head {
            height: 100%;
            #myChart11{
                position: absolute;
                left: 3%!important;
                top: 3%!important;
                width: 35%!important;
                height: 25%!important;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                padding: 0px;
                margin: 0px;
                border-width: 0px;
            }
            #myChart22{
                position: absolute;
                right:7%!important;
                top: 3%!important;
                width:45%!important;
                height: 25%!important;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                padding: 0px;
                margin: 0px;
                border-width: 0px;
            }
        }
    }
}
@media screen and (min-width: 1920px)and (max-width: 2048px){
    .Totalachievement {
        width: 97%;
        height: 370px;
        margin: 10px auto;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        display: flex;
        .Total-head {
            height: 100%;
            #myChart11{
                position: absolute;
                left: 3%!important;
                top: 3%!important;
                width: 40%!important;
                height: 25%!important;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                padding: 0px;
                margin: 0px;
                border-width: 0px;
            }
            #myChart22{
                position: absolute;
                right:8%!important;
                top: 3%!important;
                width:40%!important;
                height: 25%!important;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                padding: 0px;
                margin: 0px;
                border-width: 0px;
            }
        }
    }
}