@media screen and (min-width: 768px)and (max-width: 992px){
    .practice-center {
        height: 80px;
        .purple {
          height: 80px;
          display: flex;
          justify-content: flex-start;
          .add {
            border: 1px solid #00bc71;
            width: 27%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 20px;
            margin-left: 10px!important;
            .p {
              color: #00bc71;
              font-family: PingFang-SC-Regular;
              font-size: 14px!important;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              line-height: 9px;
            }
          }
          .add2{
            border: 1px solid #ff2366;
            width:27%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 20px;
            margin-left: 10px!important;
            .p {
              color: #ff2366;
              font-family: PingFang-SC-Regular;
              font-size: 14px!important;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              line-height: 9px;
            }
          }
        }
        .purple2 {
          height: 80px;
          display: flex;
          justify-content: flex-end!important;
          width: 80%!important;
          .purple-name{
              margin-top: 17px;
              padding-left: 30px!important;
              .el-input{
                width: 140px!important;
              }
          }
          .purple-but{
              margin-top: 17px;
              .el-button--primary{
                    height: 35px;
                    line-height: 11px;
                    width: 65px!important;
                    padding: 10px!important;
              }
          }
        }
      }
      .practice-table {
        .el-button--text {
          color: #00bc71;
        }
        .block {
          float: right;
          margin-top: 10px;
          .el-pagination {
            padding: 15px 5px;
            float: right;
            margin-right: 0px!important;
            .el-pager li.active {
              color: #00bc71;
            }
          }
        }
      }
}
@media screen and (min-width: 992px)and (max-width: 1280px){
    .practice-center {
        height: 80px;
        .purple {
          height: 80px;
          display: flex;
          justify-content: flex-start;
          .add {
            border: 1px solid #00bc71;
            width: 30%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 20px;
            margin-left: 10px!important;
            .p {
              color: #00bc71;
              font-family: PingFang-SC-Regular;
              font-size: 15px!important;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              line-height: 9px;
            }
          }
          .add2{
            border: 1px solid #ff2366;
            width:30%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 20px;
            margin-left: 10px!important;
            .p {
              color: #ff2366;
              font-family: PingFang-SC-Regular;
              font-size: 15px!important;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              line-height: 9px;
            }
          }
        }
        .purple2 {
          height: 80px;
          display: flex;
          justify-content: flex-end!important;
          width: 80%!important;
          .purple-name{
              margin-top: 17px;
              padding-left: 30px!important;
              .el-input{
                width: 175px!important;
              }
          }
          .purple-but{
              margin-top: 17px;
              .el-button--primary{
                    height: 35px;
                    line-height: 11px;
                    width: 65px!important;
                    padding: 10px!important;
              }
          }
        }
      }
      .practice-table {
        .el-button--text {
          color: #00bc71;
        }
        .block {
          float: right;
          margin-top: 10px;
          .el-pagination {
            padding: 15px 5px;
            float: right;
            margin-right: 25px!important;
            .el-pager li.active {
              color: #00bc71;
            }
          }
        }
      }
}
@media screen and (min-width: 1280px)and (max-width: 1440px){
    .practice-center {
        height: 80px;
        .purple {
          height: 80px;
          display: flex;
          justify-content: flex-start;
          .add {
            border: 1px solid #00bc71;
            width: 30%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 20px;
            margin-left: 10px!important;
            .p {
              color: #00bc71;
              font-family: PingFang-SC-Regular;
              font-size: 16px!important;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              line-height: 9px;
            }
          }
          .add2{
            border: 1px solid #ff2366;
            width:30%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 20px;
            margin-left: 10px!important;
            .p {
              color: #ff2366;
              font-family: PingFang-SC-Regular;
              font-size: 16px!important;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              line-height: 9px;
            }
          }
        }
        .purple2 {
          height: 80px;
          display: flex;
          justify-content: flex-end!important;
          width: 88%!important;
          .purple-name{
              margin-top: 17px;
              padding-left: 30px!important;
              .el-input{
                width: 220px!important;
              }
          }
          .purple-but{
              margin-top: 17px;
              .el-button--primary{
                    height: 35px;
                    line-height: 11px;
                    width: 65px!important;
                    padding: 10px!important;
              }
          }
        }
      }
      .practice-table {
        .el-button--text {
          color: #00bc71;
        }
        .block {
          float: right;
          margin-top: 10px;
          .el-pagination {
            padding: 15px 5px;
            float: right;
            margin-right: 25px!important;
            .el-pager li.active {
              color: #00bc71;
            }
          }
        }
      }
}
@media screen and (min-width: 1440px)and (max-width: 1920px){
    .practice-center {
        height: 80px;
        .purple {
          height: 80px;
          display: flex;
          justify-content: flex-start;
          .add {
            border: 1px solid #00bc71;
            width: 20%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 20px;
            margin-left: 10px!important;
            .p {
              color: #00bc71;
              font-family: PingFang-SC-Regular;
              font-size: 17px!important;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              line-height: 9px;
            }
          }
          .add2{
            border: 1px solid #ff2366;
            width:20%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 20px;
            margin-left: 10px!important;
            .p {
              color: #ff2366;
              font-family: PingFang-SC-Regular;
              font-size: 17px!important;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              line-height: 9px;
            }
          }
        }
        .purple2 {
          height: 80px;
          display: flex;
          justify-content: flex-end!important;
          width: 88%!important;
          .purple-name{
              margin-top: 17px;
              padding-left: 30px!important;
              .el-input{
                width: 220px!important;
              }
          }
          .purple-but{
              margin-top: 17px;
              .el-button--primary{
                    height: 35px;
                    line-height: 11px;
                    width: 65px!important;
                    padding: 10px!important;
              }
          }
        }
      }
      .practice-table {
        .el-button--text {
          color: #00bc71;
        }
        .block {
          float: right;
          margin-top: 10px;
          .el-pagination {
            padding: 15px 5px;
            float: right;
            margin-right: 40px!important;
            .el-pager li.active {
              color: #00bc71;
            }
          }
        }
      }
}
@media screen and (min-width: 1920px)and (max-width: 2048px){
  .practice-center {
      height: 80px;
      .purple {
        height: 80px;
        display: flex;
        justify-content: flex-start;
        .add {
          border: 1px solid #00bc71;
          width: 21%!important;
          height: 35px;
          border-radius: 4px;
          line-height: 0px;
          margin-top: 20px;
          .p {
            color: #00bc71;
            font-family: PingFang-SC-Regular;
            font-size: 17px!important;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            line-height: 9px;
          }
        }
        .add2{
          border: 1px solid #ff2366;
          width:21%!important;
          height: 35px;
          border-radius: 4px;
          line-height: 0px;
          margin-top: 20px;
          .p {
            color: #ff2366;
            font-family: PingFang-SC-Regular;
            font-size: 17px!important;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            line-height: 9px;
          }
        }
      }
      .purple2 {
        height: 80px;
        display: flex;
        justify-content: flex-end!important;
        width: 88%!important;
        .purple-name{
            margin-top: 17px;
            padding-left: 30px!important;
            .el-input{
              width: 250px!important;
            }
        }
        .purple-but{
            margin-top: 17px;
            .el-button--primary{
                  height: 35px;
                  line-height: 11px;
                  width: 85px!important;
                  padding: 10px!important;
            }
        }
      }
    }
    .practice-table {
      .el-button--text {
        color: #00bc71;
      }
      .block {
        float: right;
        margin-top: 10px;
        .el-pagination {
          padding: 15px 5px;
          float: right;
          margin-right: 40px!important;
          .el-pager li.active {
            color: #00bc71;
          }
        }
      }
    }
}