@media screen and (min-width: 768px)and (max-width: 992px){
.practice-center {
    height: 80px;
    .purple {
      height: 80px;
      display: flex;
      justify-content: flex-start;
      .add {
        border: 1px solid #00bc71;
        width: 25%!important;
        height: 35px;
        border-radius: 4px;
        line-height: 0px;
        margin-top: 20px;
        margin-left: 20px;
        .p {
          color: #00bc71;
          font-family: PingFang-SC-Regular;
          font-size: 12px!important;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 0px;
           line-height: 9px;
        }
        .add-p {
           color: #00bc71;
          font-family: PingFang-SC-Regular;
          font-size: 12px!important;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 0px;
          line-height: 9px;
        }
      }
      .add2{
        border: 1px solid #ff2366;
        width: 25%!important;
        height: 35px;
        border-radius: 4px;
        line-height: 0px;
        margin-top: 20px;
        margin-left: 20px;
        .p {
          color: #ff2366;
          font-family: PingFang-SC-Regular;
          font-size: 12px!important;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 0px;
          line-height: 9px;
        }
      }
    }
    .purple2 {
      height: 80px;
      display: flex;
      justify-content: flex-start;
      .search {
        width: 23%!important;
        border: 1px solid #e8e8e8;
        height: 32px;
        display: flex;
        border-radius: 16px;
        margin-top: 20px;
        .search-input {
          width: 100%;
          border-radius: 16px;
          border: none;
          text-indent: 10px;
          color: #8c8c8c;
          font-size: 12px!important;
        }
        .search-icon {
          margin-top: 6px!important;
          margin-right: 2px!important;
        }
      }
      .purple-name{
          margin-top: 17px;
          .el-select{
            width: 100px!important;
          }
      }
      .purple-but{
          margin-top: 17px;
          .el-button--primary{
                height: 35px;
                width: 58px!important;
                line-height: 11px;
                padding: 10px!important;
                font-size: 13px!important;
          }
      }
    }
  }
}
@media screen and (min-width: 992px)and (max-width: 1280px){
    .practice-center {
        height: 80px;
        .purple {
          height: 80px;
          display: flex;
          justify-content: flex-start;
          .add {
            border: 1px solid #00bc71;
            width: 25%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 20px;
            margin-left: 20px;
            .p {
              color: #00bc71;
              font-family: PingFang-SC-Regular;
              font-size: 14px!important;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
               line-height: 9px;
            }
            .add-p {
               color: #00bc71;
              font-family: PingFang-SC-Regular;
              font-size: 14px!important;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              line-height: 9px;
            }
          }
          .add2{
            border: 1px solid #ff2366;
            width: 25%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 20px;
            margin-left: 20px;
            .p {
              color: #ff2366;
              font-family: PingFang-SC-Regular;
              font-size: 14px!important;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              line-height: 9px;
            }
          }
        }
        .purple2 {
          height: 80px;
          display: flex;
          justify-content: flex-start;
          .search {
            width: 33%!important;
            border: 1px solid #e8e8e8;
            height: 32px;
            display: flex;
            border-radius: 16px;
            margin-top: 20px;
            .search-input {
              width: 100%;
              border-radius: 16px;
              border: none;
              text-indent: 10px;
              color: #8c8c8c;
              font-size: 12px!important;
            }
            .search-icon {
              margin-top: 8px;
              margin-right: 13px;
            }
          }
          .purple-name{
              margin-top: 17px;
              .el-select{
                width: 135px!important;
              }
          }
          .purple-but{
              margin-top: 17px;
              .el-button--primary{
                    height: 35px;
                    width: 60px!important;
                    line-height: 11px;
                    margin-left: -9px!important;
              }
          }
        }
      }
    }
    @media screen and (min-width: 1280px)and (max-width: 1440px){
        .practice-center {
            height: 80px;
            .purple {
              height: 80px;
              display: flex;
              justify-content: flex-start;
              .add {
                border: 1px solid #00bc71;
                width: 25%!important;
                height: 35px;
                border-radius: 4px;
                line-height: 0px;
                margin-top: 20px;
                margin-left: 20px;
                .p {
                  color: #00bc71;
                  font-family: PingFang-SC-Regular;
                  font-size: 15px!important;
                  font-weight: normal;
                  font-stretch: normal;
                  letter-spacing: 0px;
                   line-height: 9px;
                }
                .add-p {
                   color: #00bc71;
                  font-family: PingFang-SC-Regular;
                  font-size: 15px!important;
                  font-weight: normal;
                  font-stretch: normal;
                  letter-spacing: 0px;
                  line-height: 9px;
                }
              }
              .add2{
                border: 1px solid #ff2366;
                width: 25%!important;
                height: 35px;
                border-radius: 4px;
                line-height: 0px;
                margin-top: 20px;
                margin-left: 20px;
                .p {
                  color: #ff2366;
                  font-family: PingFang-SC-Regular;
                  font-size: 15px!important;
                  font-weight: normal;
                  font-stretch: normal;
                  letter-spacing: 0px;
                  line-height: 9px;
                }
              }
            }
            .purple2 {
              height: 80px;
              display: flex;
              justify-content: flex-start;
              .search {
                width: 35%!important;
                border: 1px solid #e8e8e8;
                height: 32px;
                display: flex;
                border-radius: 16px;
                margin-top: 20px;
                .search-input {
                  width: 100%;
                  border-radius: 16px;
                  border: none;
                  text-indent: 10px;
                  color: #8c8c8c;
                  font-size: 14px!important;
                }
                .search-icon {
                  margin-top: 8px;
                  margin-right: 13px;
                }
              }
              .purple-name{
                  margin-top: 17px;
                  .el-select{
                    width: 155px!important;
                  }
              }
              .purple-but{
                  margin-top: 17px;
                  .el-button--primary{
                        height: 35px;
                        width: 70px!important;
                        line-height: 11px;
                  }
              }
            }
          }
        }
@media screen and (min-width: 1440px)and (max-width: 1920px){
    .practice-center {
        height: 80px;
        .purple {
            height: 80px;
            display: flex;
            justify-content: flex-start;
            .add {
            border: 1px solid #00bc71;
            width: 25%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 20px;
            margin-left: 20px;
            .p {
                color: #00bc71;
                font-family: PingFang-SC-Regular;
                font-size: 16px!important;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                line-height: 9px;
            }
            .add-p {
                color: #00bc71;
                font-family: PingFang-SC-Regular;
                font-size: 16px!important;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                line-height: 9px;
            }
            }
            .add2{
            border: 1px solid #ff2366;
            width: 25%!important;
            height: 35px;
            border-radius: 4px;
            line-height: 0px;
            margin-top: 20px;
            margin-left: 20px;
            .p {
                color: #ff2366;
                font-family: PingFang-SC-Regular;
                font-size: 16px!important;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                line-height: 9px;
            }
            }
        }
        .purple2 {
            height: 80px;
            display: flex;
            justify-content: flex-end!important;
            .search {
            width: 35%!important;
            border: 1px solid #e8e8e8;
            height: 32px;
            display: flex;
            border-radius: 16px;
            margin-top: 20px;
            margin-left: 20px!important;
            .search-input {
                width: 100%;
                border-radius: 16px;
                border: none;
                text-indent: 10px;
                color: #8c8c8c;
                font-size: 14px!important;
            }
            .search-icon {
                margin-top: 8px;
                margin-right: 13px;
            }
            }
            .purple-name{
                margin-top: 17px;
                .el-select{
                  width: 170px!important;
                }
            }
            .purple-but{
                margin-top: 17px;
                .el-button--primary{
                    height: 35px;
                    width: 75px!important;
                    line-height: 11px;
                }
            }
        }
        }
    }
    @media screen and (min-width: 1920px)and (max-width: 2048px){
      .practice-center {
          height: 80px;
          .purple {
              height: 80px;
              display: flex;
              justify-content: flex-start;
              .add {
              border: 1px solid #00bc71;
              width: 25%!important;
              height: 35px;
              border-radius: 4px;
              line-height: 0px;
              margin-top: 20px;
              margin-left: 20px;
              .p {
                  color: #00bc71;
                  font-family: PingFang-SC-Regular;
                  font-size: 16px!important;
                  font-weight: normal;
                  font-stretch: normal;
                  letter-spacing: 0px;
                  line-height: 9px;
              }
              .add-p {
                  color: #00bc71;
                  font-family: PingFang-SC-Regular;
                  font-size: 16px!important;
                  font-weight: normal;
                  font-stretch: normal;
                  letter-spacing: 0px;
                  line-height: 9px;
              }
              }
              .add2{
              border: 1px solid #ff2366;
              width: 25%!important;
              height: 35px;
              border-radius: 4px;
              line-height: 0px;
              margin-top: 20px;
              margin-left: 20px;
              .p {
                  color: #ff2366;
                  font-family: PingFang-SC-Regular;
                  font-size: 16px!important;
                  font-weight: normal;
                  font-stretch: normal;
                  letter-spacing: 0px;
                  line-height: 9px;
              }
              }
          }
          .purple2 {
              height: 80px;
              display: flex;
              justify-content: flex-end!important;
              .search {
              width: 35%!important;
              border: 1px solid #e8e8e8;
              height: 32px;
              display: flex;
              border-radius: 16px;
              margin-top: 20px;
              margin-left: 20px!important;
              .search-input {
                  width: 100%;
                  border-radius: 16px;
                  border: none;
                  text-indent: 10px;
                  color: #8c8c8c;
                  font-size: 14px!important;
              }
              .search-icon {
                  margin-top: 8px;
                  margin-right: 13px;
              }
              }
              .purple-name{
                  margin-top: 17px;
                  .el-select{
                    width: 225px!important;
                  }
              }
              .purple-but{
                  margin-top: 17px;
                  .el-button--primary{
                      height: 35px;
                      width: 90px!important;
                      line-height: 11px;
                  }
              }
          }
          }
      }