@media screen and (min-width: 768px)and (max-width: 992px){
    .health {
        width: 97%;
        height: 100%;
        margin: 20px auto;
        background: #fff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        display: inline-block;
        .health-main {
          border: 1px solid #e8e8e8;
          height: 100%;
          width: 93%;
          margin: 20px auto;
          display: inline-block;
          background: #ffffff;
          .outside {
            margin-top: 0px;
            height: 100px;
            background: #E7F4EF;
            .outside-biao {
              font-size: 16px;
              color: #262626;
              line-height: 100px;
              .outside-biao2 {
                font-size: 14px;
                color: #262626;
              }
            }
          }
          .box {
            margin: 20px auto;
            width: 95%;
            height: 1px;
            background: -webkit-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            ); 
            background: -o-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            ); 
            background: -moz-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            );
            background: linear-gradient(to right, #fff, #00bc71, #fff);
          }
          .health-from {
            .bai{
              background: #ffffff;
              }
              .lan{
                  background: #E7F4EF;
              }
            .health-from-div{
              height: 100%;
              width: 100%;
              text-align: left;
              margin-left: 0px;
              display: inline-block;
                .hei{
                  text-align: left;
                  height: 60px;
                  margin-left: 12px;
                  line-height: 70px;
                  color: #000;
                }
           .from-date-border {
                width: 100%;
                .from-date {
                display: flex;
                .el-form-item {
                    margin-bottom: 10px;
                    margin-top: 10px;
                    margin-left: -60px !important;
                    .el-input{
                      width: 120px !important;
                  }
                }
              }
            }
            .from-date-border2 {
            width: 100%;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: -45px !important;
                .el-input{
                  width: 110px !important;
              }
              }
            }
          }
          .from-date-border3 {
            width: 100%;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: -57px !important;
                // width: 245px !important;
                .el-input{
                  width: 110px !important;
              }
              }
            }
          }
          .from-date-border4 {
            width: 100%;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: -10px !important;
                .el-input{
                  width: 72px !important;
              }
              .el-radio-group{
                width: 150px !important;
              }
              }
            }
          }
          .from-date-border5 {
            width: 100%;
            display: grid;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                .el-radio-group{
                  width: 350px !important;
                }
              }
            }
          }
          .from-date-border6 {
            width: 100%;
            display: grid;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: 60px !important;
                .el-input{
                  width: 155px !important;
                }
              }
            }
          }
          .from-date-border7 {
            width: 100%;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                .el-input{
                  width: 150px !important;
                }
              }
            }
          }
          }
        }
        }
        .from-date4 {
          margin-top: 20px;
        }
      }
}
@media screen and (min-width: 992px)and (max-width: 1280px){
    .health {
        width: 97%;
        height: 100%;
        margin: 20px auto;
        background: #fff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        display: inline-block;
        .health-main {
          border: 1px solid #e8e8e8;
          height: 100%;
          width: 93%;
          margin: 20px auto;
          display: inline-block;
          background: #ffffff;
          .outside {
            margin-top: 0px;
            height: 100px;
            background: #E7F4EF;
            .outside-biao {
              font-size: 16px;
              color: #262626;
              line-height: 100px;
              .outside-biao2 {
                font-size: 14px;
                color: #262626;
              }
            }
          }
          .box {
            margin: 20px auto;
            width: 95%;
            height: 1px;
            background: -webkit-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            ); 
            background: -o-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            ); 
            background: -moz-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            );
            background: linear-gradient(to right, #fff, #00bc71, #fff);
          }
          .health-from {
            .bai{
              background: #ffffff;
              }
              .lan{
                  background: #E7F4EF;
              }
            .health-from-div{
              height: 100%;
              width: 100%;
              text-align: left;
              margin-left: 0px;
              display: inline-block;
                .hei{
                  text-align: left;
                  height: 60px;
                  margin-left: 12px;
                  line-height: 70px;
                  color: #000;
                }
           .from-date-border {
                width: 100%;
                .from-date {
                display: flex;
                .el-form-item {
                    margin-bottom: 10px;
                    margin-top: 10px;
                    margin-left: -30px !important;
                    .el-input{
                      width: 175px !important;
                  }
                }
              }
            }
            .from-date-border2 {
            width: 100%;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: -30px !important;
                .el-input{
                  width: 175px !important;
              }
              }
            }
          }
          .from-date-border3 {
            width: 100%;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: -30px !important;
                // width: 303px !important;
                .el-input{
                  width: 175px !important;
              }
              }
            }
          }
          .from-date-border4 {
            width: 100%;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: 0px !important;
                .el-input{
                  width: 145px !important;
              }
              .el-radio-group{
                width: 150px !important;
              }
              }
            }
          }
          .from-date-border5 {
            width: 100%;
            display: grid;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                .el-radio-group{
                  width: 350px !important;
                }
              }
            }
          }
          .from-date-border6 {
            width: 100%;
            display: grid;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: 60px !important;
                .el-input{
                  width: 155px !important;
                }
              }
            }
          }
          .from-date-border7 {
            width: 100%;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                .el-input{
                  width: 150px !important;
                }
              }
            }
          }
          }
        }
        }
        .from-date4 {
          margin-top: 20px;
        }
      }
}
@media screen and (min-width: 1280px)and (max-width: 1440px){
    .health {
        width: 97%;
        height: 100%;
        margin: 20px auto;
        background: #fff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        display: inline-block;
        .health-main {
          border: 1px solid #e8e8e8;
          height: 100%;
          width: 93%;
          margin: 20px auto;
          display: inline-block;
          background: #ffffff;
          .outside {
            margin-top: 0px;
            height: 100px;
            background: #E7F4EF;
            .outside-biao {
              font-size: 16px;
              color: #262626;
              line-height: 100px;
              .outside-biao2 {
                font-size: 14px;
                color: #262626;
              }
            }
          }
          .box {
            margin: 20px auto;
            width: 95%;
            height: 1px;
            background: -webkit-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            ); 
            background: -o-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            ); 
            background: -moz-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            );
            background: linear-gradient(to right, #fff, #00bc71, #fff);
          }
          .health-from {
            .bai{
              background: #ffffff;
              }
              .lan{
                  background: #E7F4EF;
              }
            .health-from-div{
              height: 100%;
              width: 100%;
              text-align: left;
              margin-left: 0px;
              display: inline-block;
                .hei{
                  text-align: left;
                  height: 60px;
                  margin-left: 12px;
                  line-height: 70px;
                  color: #000;
                }
           .from-date-border {
                width: 100%;
                .from-date {
                display: flex;
                .el-form-item {
                    margin-bottom: 10px;
                    margin-top: 10px;
                    margin-left: 0px !important;
                    .el-input{
                      width: 190px !important;
                  }
                }
              }
            }
            .from-date-border2 {
            width: 100%;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: 0px !important;
                .el-input{
                  width: 190px !important;
              }
              }
            }
          }
          .from-date-border3 {
            width: 100%;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: 0px !important;
                // width: 340px !important;
                .el-input{
                  width: 190px !important;
              }
              }
            }
          }
          .from-date-border4 {
            width: 100%;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: 0px !important;
                .el-input{
                  width: 190px !important;
              }
              }
            }
          }
          .from-date-border5 {
            width: 100%;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
              }
            }
          }
          .from-date-border6 {
            width: 100%;
            display: block;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: -10px !important;
                .el-input{
                  width: 90px !important;
                }
              }
            }
          }
          .from-date-border7 {
            width: 100%;
            .from-date {
              display: flex;
              .el-form-item {
                margin-bottom: 10px;
                margin-top: 10px;
                .el-input{
                  width: 190px !important;
                }
              }
            }
          }
          }
        }
        }
        .from-date4 {
          margin-top: 20px;
        }
      }
}
@media screen and (min-width: 1440px)and (max-width: 1680px){
    .health {
        width: 97%;
        height: 100%;
        margin: 20px auto;
        background: #fff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        display: inline-block;
        .health-main {
          border: 1px solid #e8e8e8;
          height: 100%;
          width: 93%;
          margin: 20px auto;
          display: inline-block;
          background: #ffffff;
          .outside {
            margin-top: 0px;
            height: 100px;
            background: #E7F4EF;
            .outside-biao {
              font-size: 16px;
              color: #262626;
              line-height: 100px;
              .outside-biao2 {
                font-size: 14px;
                color: #262626;
              }
            }
          }
          .box {
            margin: 20px auto;
            width: 95%;
            height: 1px;
            background: -webkit-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            ); 
            background: -o-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            ); 
            background: -moz-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            );
            background: linear-gradient(to right, #fff, #00bc71, #fff);
          }
          .health-from {
            .bai{
              background: #ffffff;
              }
              .lan{
                  background: #E7F4EF;
              }
            .health-from-div{
              height: 100%;
              width: 100%;
              text-align: left;
              margin-left: 0px;
              display: inline-block;
                .hei{
                  text-align: left;
                  height: 60px;
                  margin-left: 12px;
                  line-height: 70px;
                  color: #000;
                }
                .from-date-border {
                  width: 100%;
                  .from-date {
                  display: flex;
                  .el-form-item {
                      margin-bottom: 10px;
                      margin-top: 10px;
                      margin-left: 0px !important;
                      .el-input{
                        width: 210px !important;
                    }
                  }
                }
              }
              .from-date-border2 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  margin-left: 0px !important;
                  .el-input{
                    width: 210px !important;
                }
                }
              }
            }
            .from-date-border3 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  margin-left: 0px !important;
                  // width: 408px !important;
                  .el-input{
                    width: 210px !important;
                }
                }
              }
            }
            .from-date-border4 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  margin-left: 0px !important;
                  .el-input{
                    width: 210px !important;
                }
                }
              }
            }
            .from-date-border5 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                }
              }
            }
            .from-date-border6 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  margin-left: -10px !important;
                  .el-input{
                    width: 110px !important;
                  }
                }
              }
            }
            .from-date-border7 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  .el-input{
                    width: 210px !important;
                  }
                }
              }
            }
          }
        }
        }
        .from-date4 {
          margin-top: 20px;
        }
      }
}
@media screen and (min-width: 1680px)and (max-width: 1920px){
    .health {
        width: 97%;
        height: 100%;
        margin: 20px auto;
        background: #fff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        display: inline-block;
        .health-main {
          border: 1px solid #e8e8e8;
          height: 100%;
          width: 93%;
          margin: 20px auto;
          display: inline-block;
          background: #ffffff;
          .outside {
            margin-top: 0px;
            height: 100px;
            background: #E7F4EF;
            .outside-biao {
              font-size: 16px;
              color: #262626;
              line-height: 100px;
              .outside-biao2 {
                font-size: 14px;
                color: #262626;
              }
            }
          }
          .box {
            margin: 20px auto;
            width: 95%;
            height: 1px;
            background: -webkit-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            ); 
            background: -o-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            ); 
            background: -moz-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            );
            background: linear-gradient(to right, #fff, #00bc71, #fff);
          }
          .health-from {
            .bai{
              background: #ffffff;
              }
              .lan{
                  background: #E7F4EF;
              }
            .health-from-div{
              height: 100%;
              width: 100%;
              text-align: left;
              margin-left: 0px;
              display: inline-block;
                .hei{
                  text-align: left;
                  height: 60px;
                  margin-left: 12px;
                  line-height: 70px;
                  color: #000;
                }
                .from-date-border {
                  width: 100%;
                  .from-date {
                  display: flex;
                  .el-form-item {
                      margin-bottom: 10px;
                      margin-top: 10px;
                      margin-left: 0px !important;
                      .el-input{
                        width: 250px !important;
                    }
                  }
                }
              }
              .from-date-border2 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  margin-left: 0px !important;
                  .el-input{
                    width: 250px !important;
                }
                }
              }
            }
            .from-date-border3 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  margin-left: 0px !important;
                  // width: 513px !important;
                  .el-input{
                    width: 250px !important;
                }
                }
              }
            }
            .from-date-border4 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  margin-left: 0px !important;
                  .el-input{
                    width: 250px !important;
                }
                }
              }
            }
            .from-date-border5 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                }
              }
            }
            .from-date-border6 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  margin-left: 5px !important;
                  .el-input{
                    width: 145px !important;
                  }
                }
              }
            }
            .from-date-border7 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  .el-input{
                    width: 250px !important;
                  }
                }
              }
            }
          }
        }
        }
        .from-date4 {
          margin-top: 20px;
        }
      }
}
@media screen and (min-width: 1920px)and (max-width: 2048px){
    .health {
        width: 97%;
        height: 100%;
        margin: 20px auto;
        background: #fff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        display: inline-block;
        .health-main {
          border: 1px solid #e8e8e8;
          height: 100%;
          width: 93%;
          margin: 20px auto;
          display: inline-block;
          background: #ffffff;
          .outside {
            margin-top: 0px;
            height: 100px;
            background: #E7F4EF;
            .outside-biao {
              font-size: 16px;
              color: #262626;
              line-height: 100px;
              .outside-biao2 {
                font-size: 14px;
                color: #262626;
              }
            }
          }
          .box {
            margin: 20px auto;
            width: 95%;
            height: 1px;
            background: -webkit-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            ); 
            background: -o-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            ); 
            background: -moz-linear-gradient(
              to right,
              #fff,
              #00bc71,
              #fff
            );
            background: linear-gradient(to right, #fff, #00bc71, #fff);
          }
          .health-from {
            .bai{
              background: #ffffff;
              }
              .lan{
                  background: #E7F4EF;
              }
            .health-from-div{
              height: 100%;
              width: 100%;
              text-align: left;
              margin-left: 0px;
              display: inline-block;
                .hei{
                  text-align: left;
                  height: 60px;
                  margin-left: 12px;
                  line-height: 70px;
                  color: #000;
                }
                .from-date-border {
                  width: 100%;
                  .from-date {
                  display: flex;
                  .el-form-item {
                      margin-bottom: 10px;
                      margin-top: 10px;
                      margin-left: 0px !important;
                      .el-input{
                        width: 285px !important;
                    }
                  }
                }
              }
              .from-date-border2 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  margin-left: 0px !important;
                  .el-input{
                    width: 285px !important;
                }
                }
              }
            }
            .from-date-border3 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  margin-left: 0px !important;
                  // width: 618px !important;
                  .el-input{
                    width: 285px !important;
                }
                }
              }
            }
            .from-date-border4 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  margin-left: 0px !important;
                  .el-input{
                    width: 285px !important;
                }
                }
              }
            }
            .from-date-border5 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                }
              }
            }
            .from-date-border6 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  margin-left: 43px !important;
                  .el-input{
                    width: 175px !important;
                  }
                }
              }
            }
            .from-date-border7 {
              width: 100%;
              .from-date {
                display: flex;
                .el-form-item {
                  margin-bottom: 10px;
                  margin-top: 10px;
                  .el-input{
                    width: 285px !important;
                  }
                }
              }
            }
          }
        }
        }
        .from-date4 {
          margin-top: 20px;
        }
      }
}
